@layout('themes.default')

@section('content')
    <div class="columns is-mobile is-centered">
      <div class="column is-6">
        <div class="box">
          <div>We have received your information. Thank you for your time.</div>
        </div>
      </div>
    </div>
@endsection
